<div class="header-section">
    <i class="fa fa-bars" aria-hidden="true" ng-click="main.callNews()"></i>
    <div class="title padding-1em col-xs-10">
        <h2 ng-cloak>{{main.titleSelected}}</h2>
    </div>
</div>
<section class="news">
    <article class="new" ng-repeat="new in main.news">
        <div class="new-header" ng-click="main.selectNew(new.id)">
            <figure class="padding-1em col-xs-2" >
                <img ng-src="{{new.image}}" alt="" />
            </figure>
            <div class="title padding-1em col-xs-10">
                <h2>{{new.title}}</h2>
            </div>
        </div>
        <div class="new-body">
            <figure class="col-md-4 col-xs-12" ng-style="{'background-image': 'url(' + new.image + ')'}">
            </figure>
            <br>
            <div class="body col-md-8 col-xs-12">
                <h2>{{new.title}}</h2>
                <p>
                    {{new.content}}
                </p>
            </div>
        </div>
    </article>
</section>
